.auth{
  .wrap {
    margin: 0 auto;
    padding: 0;
  }

  .wrap > .container {
    padding: 20px;
  }

  .auth-form {
    .logo {
      max-width: 100%;
    }

    .login-card, .register-card {
      background-color: white;
      border: 2px solid black;
      padding: 15px;
      margin: 15px 0;

      hr {
        height: 1px;
        background: #333 linear-gradient(to right, #ccc, #333, #ccc);
        margin: 10px 0;
      }

      #login-form {
        .form-group {
          margin-bottom: 5px;
        }
      }
    }
  }
}
