.auth .wrap {
  margin: 0 auto;
  padding: 0;
}
.auth .wrap > .container {
  padding: 20px;
}
.auth .auth-form .logo {
  max-width: 100%;
}
.auth .auth-form .login-card, .auth .auth-form .register-card {
  background-color: white;
  border: 2px solid black;
  padding: 15px;
  margin: 15px 0;
}
.auth .auth-form .login-card hr, .auth .auth-form .register-card hr {
  height: 1px;
  background: #333 linear-gradient(to right, #ccc, #333, #ccc);
  margin: 10px 0;
}
.auth .auth-form .login-card #login-form .form-group, .auth .auth-form .register-card #login-form .form-group {
  margin-bottom: 5px;
}

/*# sourceMappingURL=auth.css.map */
