.cards {
  margin-top: -20px;

  .media-wrapper{
    margin-top: 10px;

    .media {
      background-color: white;
      border: 2px solid black;
      padding: 10px 20px;

      .media-left {
        vertical-align: middle;

        .media-object {
          font-size:30px;
        }
      }

      .media-body {
        vertical-align: middle;

        .media-heading {
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
}

.article {
  .heading {
    h4 {
      display: inline;
    }
  }

  .card {
    .table {
      background-color: white;
      border: 2px solid black;
    }
    .pagination {

    }
  }
}